<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cssrc.customviewdmeo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ActivityEasy" />
        <activity android:name=".Activity.ActivityPath" />
        <activity android:name=".Activity.ActivityAlpha" />
        <activity android:name=".Activity.ActivityShader" />
        <activity android:name=".Activity.ActivityBrick" />
        <activity android:name=".Activity.ActivityMatrix" />
        <activity android:name=".Activity.ActivityAnimator"></activity>
    </application>

</manifest>